# Sample .env file for NEAR Node Runner

# (Optional) provide AWS_REGION here or export in shell

# Deployment mode: single | ha | both
DEPLOY_MODE=single

# NEAR specifics
NEAR_NETWORK=mainnet
NEAR_VERSION=v2.6.5

# Instance sizing
NEAR_INSTANCE_TYPE=m7a.2xlarge
CPU_TYPE=x86_64

# Data volume
NEAR_DATA_VOL_SIZE=1024
NEAR_DATA_VOL_TYPE=gp3
NEAR_DATA_VOL_IOPS=10000
NEAR_DATA_VOL_THROUGHPUT=500

# HA settings
NUMBER_OF_RPC_NODES=2
ALB_HEALTHCHECK_GRACE_MIN=10
HEARTBEAT_DELAY_MIN=60
LIMIT_OUT_TRAFFIC_MBPS=1000
AWS_REGION=us-east-1